.custom-layout {
  height: 100vh;

  :deep(.n-layout-header) {
    background-color: var(--nav-header-bg-color) !important;
  }

  :deep(.n-layout-scroll-container) {
    .n-layout-sider {
      background-color: var(--sidebar-bg-color) !important;

      .n-scrollbar .n-scrollbar-container .n-scrollbar-content {
        padding: 0 !important;
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        cursor: ew-resize;
        content: '';
      }

      // Set padding to zero when collapsed, otherwise the sidebar item icon can't be clicked
      &.n-layout-sider--collapsed .n-layout-sider-scroll-container {
        padding: 0 !important;
      }
    }
  }
}
